body {
    background-image:url("../images/leeds-at-night.jpg");
    background-size:1920px;
    background-position:center top;
    background-repeat:no-repeat;
    text-align:center;
    background-color:black;
}

h1, h2 {
    display:block;
    font-family:"Maven Pro", sans-serif;
    color: #400;
}

h1 {
    font-size:54pt;
    margin:16px;
    text-transform:uppercase;
}

@media (max-width: 600px) {
    h1 {
	font-size:36pt;
    }
}

h2 {
    font-size:28pt;
    margin:16px;
}

nav {
    font-family:Helvetica,Arial,sans-serif;
    font-weight:600;
    font-size:12pt;
    text-decoration:none;
}

nav ul {
    display:inline-block;
    list-style-type:none;
    overflow:hidden;
    padding-left:1px;
    padding-top:1px;
}

nav li {
    float:left;
    margin-left:-1px;
    margin-top:-1px;
}

nav a {
    display:block;
    text-decoration:none;
    color:black;
    padding:8px 16px;
    background-color:#ccc;
    border:1px solid;
    text-align:center;
}

nav .selected {
    background-color:#cc8;
}

h3 {
    font-size:14pt;
    font-weight:400;
    margin:8px 0;
}

table {
    border-collapse:separate;
    border-spacing:16px 8px;
}

td:first-child {
    white-space:nowrap;
}

td {
}

header {
}

#wrapper {
    display:inline-block;
    max-width:960px;
}

section {
    background:#fff0e0;
    padding:16px 32px;
    margin:8px;
    text-align:justify;
    font-family:sans-serif;
    line-height:1.2em;
    overflow:hidden;
}

@media (max-width: 960px) or (max-device-width: 960px) {
    section {
	margin:0px;
    }
}
    
section > img {
    display:block;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:16px;
    margin-bottom:16px;
}

p {
    margin:16px 0;
}

#footer {
    color:white;
    font-family:Helvetica,Arial,sans-serif;
    font-size:12pt;
}

#footer > * {
    float:left;
    width:50%;
}

#footer a {
    color:white;
    text-decoration:none;
    font-weight:700;
}
